@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-Black.ttf");
    font-weight: 900;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
}

li,
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-title {
    color: #5C8692;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.section-subtitle {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
}

.btn-text {
    color: #141414;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
}

/*********************************************************/
/*********HEADER******************************************/
/*********************************************************/
.header {
    padding: 0 60px;
}

.header__inner {
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    gap: 46px;
}

.header-right {
    gap: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 12px;
    fill: none;
}

.logo__text {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
}

.header .logo__img {
    height: 33px;
    width: 33px;
}

.phone {
    display: flex;
    gap: 12px;
    align-items: center;
}

.phone__text {
    color: #141414;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.18px;
}

.menu__list {
    display: flex;
    gap: 36px;
}

.menu__item {
    color: #555;
    text-transform: capitalize;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
}

.drop-menu {
    padding-right: 16px;
    background-image: url(../assets/images/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.header .socials__list {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .socials__item {
    height: 19px;
}

.header .socials__icon {
    display: block;
    height: 19px;
    width: 19px;
}

.reservation-btn {
    width: 200px;
    padding: 16px 0;
    border: none;
    background-color: #7A9CA5;

    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: #FFF;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.reservation__icon {
    fill: none;
    display: block;
    width: 15px;
    height: 15px;
}

.reservation-btn:hover {
    color: #141414;
    background-color: #FFF;
    transition: all 0.5s;
}

/***************************************************************/
/*********BLOG SECTION******************************************/
/***************************************************************/
.blog {
    padding-top: 145px;
    padding-bottom: 150px;
}

.blog__inner {
    text-align: center;
}
.blog .section-subtitle{
    margin-bottom: 40px;
}
.blog__list {
    display: flex;
    justify-content: space-between;
}


.blog__item {
    width: 370px;
}
.blog__item-img{
    margin-bottom: 0;
}
.blog__item-info {
    padding: 30px 27px;
    text-align: left;
    background-color: #EDF5F7;
}

.blog__item-top {
    margin-bottom: 8px;
}

.blog__item-data,
.blog__item-author {
    color: #5C8692;
    font-family: "Manrope";
    font-size: 13px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.78px;
    text-transform: uppercase;
}
.blog__item-author{
    padding-left: 7px;
}
.blog__item-data{
    padding-right: 27px;
    position: relative;
}
.blog__item-data::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #272D32;
}
.blog__item-title {
    margin-bottom: 14px;

    color: #141414;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.44px;
}

.blog__item-text {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 155%;
    letter-spacing: 0.36px;
}

.blog__btn {
    width: 250px;
    padding: 24px 0;
    margin-top: 60px;
    background-color: #FFF;
    border: 2px solid #5C8692;

    color: #141414;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    cursor: pointer;
}

.blog__btn:hover {
    background-color: #5C8692;
    color: #FFF;
    transition: all 0.5s;
}

/*********************************************************/
/*********FOOTER******************************************/
/*********************************************************/
.footer {
    background-color: #1E2C30;
}

.footer-top {
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .logo__img {
    width: 65px;
    height: 65px;
}

.footer .logo__text {
    color: #FFF;
    font-size: 40px;
    letter-spacing: 0.8px;
}

.footer .socials__list {
    display: flex;
    gap: 10px;
}

.footer .socials__item {
    width: 55px;
    height: 55px;
    border: 2px solid #5C8692;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .socials__icon {
    display: block;
    height: 22px;
    width: 22px;

    fill: #FFF
}

.footer-bottom {
    padding-top: 52px;
    padding-bottom: 66px;

    display: flex;
    justify-content: space-between;
    gap: 129px;
}

.footer-col__title {
    margin-bottom: 21px;

    color: #FFF;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
}

.footer-col__link {
    display: block;

    color: #FFF;
    font-family: "Manrope";
    font-size: 17px;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: -0.17px;
}

.footer__contacts-item {
    display: flex;
    gap: 14px;
    align-items: start;
    justify-content: space-between;
}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 14px;
}

.footer__contacts-item span {
    color: #FFF;
    font-family: "Manrope";
    font-size: 17px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.17px;
}

.footer__contacts-item a {
    width: 234px;
    line-height: 170%;
}

.footer-copy {
    padding: 20px 0;
    background-color: #111E22;
    text-align: center;
}

.footer-copy__text {
    color: #FFF;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: -0.18px;
}